.parallax {
  width: 100%;
  // height: auto;
  background-image: url('../../assets/img/1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  // background-color: $gray-3;

  img {
    visibility: hidden;
    object-position: top;
    object-fit: cover;
    font-size: 0;
  }
}

@media (max-width: 900px) {
  .parallax {
    background: none;

    img {
      visibility: visible;
    }
  }
}
@media (max-width: 600px) {
  .parallax {
    background: none;

    img {
      display: none;
    }
  }
}
