@import '../../scss/variables.scss';

.button {
  padding: 18px 45px;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  background-color: $orange;
  border: 1.5px solid $orange;
  border-radius: 30px;
  transition: ease 0.25s;

  &:hover {
    color: $black;
    background-color: transparent;
  }
  &--outlined {
    color: $orange;
    background-color: transparent;
  }
  &--outlined:hover {
    color: $orange;
    border-color: #fff;
    background-color: #fff;
  }
  &--secondary {
    color: $orange;
    background-color: #fff;
  }
  &--secondary:hover {
    color: #fff;
    background-color: $orange;
    border-color: #fff;
  }
}

@media (max-width: 1024px) {
  .button {
    padding: 15px 35px;
    font-size: 14px;
  }
}
