.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 0 265px;
}
.header__nav {
  width: 30%;

  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    font-size: 16px;
    line-height: 150%;
  }
}
