.how-to {
  padding: 60px 100px;
  background-color: #fff;
}
.how-to__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.how-to__steps {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;

  li {
    width: 33.33%;
  }
  li img {
    margin-bottom: 20px;
  }
}
