.partners {
  position: relative;

  &::after {
    position: absolute;
    content: 'ПАРТНЕРЫ';
    font-size: 326px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    color: $gray-3;
    top: 0;
    right: -50%;
  }
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  grid-gap: 30px;
  width: 100%;
  margin-top: 65px;

  li {
    transition: ease 0.35s;

    a {
      display: flex;
      flex-direction: column;
      padding: 60px 80px;
      height: 100%;
      background-color: $gray-3;
    }
    img {
      align-self: start;
      margin-bottom: 45px;
    }
    p {
      margin-top: auto;
      font-size: 16px;
      line-height: 160%;
    }
    &:hover {
      transform: translateY(-3%);
    }
  }
}
