@import '../../scss/variables.scss';

.feedback__form {
  position: relative;
  padding: 80px 70px;
  background-color: $orange;

  .title {
    margin-bottom: 15px;

    span {
      color: #fff;
    }
    &::before {
      display: none;
    }
  }
  img {
    margin-top: -200px;
    margin-bottom: 15px;
  }
  label {
    border-color: #fff;
  }
  span {
    color: #fff;
  }
  input {
    color: #fff;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $orange inset !important;
    box-shadow: 0 0 0 30px $orange inset !important;
    -webkit-text-fill-color: #fff !important;
  }
}
.feedback__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
